*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.galeria{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    display: grid;
    padding: 30px;
    padding-top: 2%;
    grid-gap: 10px;
}
.foto{
    background-color: gray;
    border: 2px solid rgb(226, 225, 225);
    width: 100%;
}


.foto1{
    background-image: url(imagenes/galeria/unperroalto.jpg);
    background-size: cover;
    background-position: center;
}
.foto2{
    background-image: url(imagenes/galeria/dosperrosnegroslago.jpg);
    background-size: cover;
    background-position: center;
}
.foto3{
    background-image: url(imagenes/galeria/goldenlargo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.foto4{
    background-image: url(imagenes/galeria/dosperrosalto.jpg);
    background-size: cover;
    background-position: center;
}
.foto5{
    background-image: url(imagenes/galeria/gatodormido2.jpg);
    background-size: cover;
    background-position: center;
}
.foto6{
    background-image: url(imagenes/galeria/gatoolla.jpg);
    background-size: cover;
    background-position: center;
}
.foto7{
    background-image: url(imagenes/galeria/perrosoriendo.jpg);
    background-size: cover;
    background-position: center;
}
.foto8{
    background-image: url(imagenes/galeria/tresperroscemento.jpg);
    background-size: cover;
    background-position: center;
}


@media only screen and (max-width: 319px){
    .foto{
        height: 350px;
    }
}

@media only screen and (min-width: 320px) and (max-width:480px){
    .galeria{
        grid-template-columns: repeat(2, 1fr);
    }
    .foto1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .foto2{
        grid-column: 1/3;
    }
    .foto3{
        grid-column: 1/3;
    }
    .foto4{
        grid-column: 1/3;
    }
    .foto5{
        grid-column: 1/3;
    }
    .foto8{
        grid-column: 1/3;
    }
}

@media only screen and (min-width:480px) and (max-width: 600px) {
    .galeria{
        grid-template-columns: repeat(3, 1fr);
    }
    .foto1{
        grid-row: 1/3;
    }
    .foto2{
        grid-column: 2/4;
    }
    .foto3{
        grid-column: 2/4;
    }
    .foto8{
        grid-column: 2/4;
    }


}


@media only screen and (min-width:600px) and (max-width:767px){
    .galeria{
        grid-template-columns: repeat(4, 1fr);
    }

    .foto1{
        grid-row: 1/3;
        grid-column: 1/3;
    }

    .foto2{
        grid-row: 0/3;
        grid-column: 3/5;
    }
    .foto3{
        grid-column: 1/4;
    }
    .foto4{
        grid-row: 2/3;
        grid-column: 3/5;
    }
    .foto8{
        grid-column: 3/5;
    }
}

@media only screen and (min-width: 768px){

.galeria{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 400px);
}
    .foto1{
    grid-column: 1/2;
    grid-row: 1/3;
}
.foto2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.foto3{
    grid-column: 3/5;
    grid-row: 1/2;
}
.foto4{
    grid-column: 2/3;
    grid-row: 2/4;
}
.foto5{
    grid-column: 3/4;
    grid-row: 2/3;
}
.foto6{
    grid-column: 4/5;
    grid-row: 2/3;
}
.foto7{
    grid-column: 1/2;
    grid-row: 3/4;
}
.foto8{
    grid-column: 3/5;
    grid-row: 3/4;
}
}